
#
# file attributes for Git
#

# Datapack Definition
*.dpd linguist-language=INI

# Command Block Language (CBL)
*.cbl linguist-language=C++
**/include/**/* linguist-language=C++

# hardcode
src/chest.cbl linguist-generated
src/array.cbl linguist-generated
